.truthtally-container {
  background: white;
  min-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: auto;
  box-shadow: 0 2px 0 rgb(119, 0, 0);
  overflow: hidden;
  border: 1px;
  border-style: solid;
  /* overflow-y: scroll; */
  justify-content: flex-start;
}

.items-list {
  flex-grow: 1;
}

.items-list li {
  list-style-image: url(../../images/draggable-icon.svg);
}

.list-item {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  border-bottom: solid 2px #eeeeee;
  letter-spacing: 2px;
  color: #2f2366;
}

.list-item .item-name form input[type='text'] {
  background-color: #f0f0f0;
  color: #000000;
  margin: unset;
  font-size: 1em;
  text-align: center;
  letter-spacing: 2px;
  padding: unset;
  width: fit-content;
}
.list-item .item-name form input[type='text']:focus {
  background-color: #dadada;
}

.list-item form {
  background-color: unset;
  max-width: 600px;
}

.list-title form input[type='text'] {
  font-size: 1em;
  color: rgb(255, 252, 252);
  background-color: #7a0000;
  padding: 10px;
  margin: 0px;
  letter-spacing: 0px;
  text-align: center;
  width: fit-content;
  max-width: 90vw;
  text-transform: none;
}

input::selection {
  background-color: rgb(255, 255, 255);
  color: black;
}

.list-title form input[type='text']:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-title form {
  background-color: unset;
  width: fit-content !important;
  max-width: 690px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

/* .list-item:hover .remove-item {
  visibility: visible;
} */

.player-item {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.stage-container {
  background: #5f0000;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 300px;
  padding: 20px 10px 20px 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.item-card-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.controls {
  padding: 10px;
  background-color: rgb(119, 0, 0);
  display: flex;
  justify-content: center;
}

.stage-header {
  padding: 10px;
  text-align: center;
  background-color: #9d0000;
  color: white;
  font-size: 1.1em;
}

.remove-item {
  font-size: 1.15em;
  border: none;
  outline: none;
  /* visibility: hidden; */
  color: #ef5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

.results-container {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  text-align: center;
}

.ranked-items {
  display: table;
  text-align: left;
  margin: auto;
  font-size: 1em;
}

.new-list-button {
  margin: 10px auto 0 auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;

  background-color: #dedede;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #000;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loading-text {
  font-size: 24px;
  margin-top: 16px;
  margin: auto;
  animation: flash-loading 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes flash-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-card:active {
  animation: flash-selection 1.9s;
}

@keyframes flash-selection {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(57, 1, 1);
  }
  100% {
    background-color: white;
  }
}

form {
  align-items: center;
}

.share-modal form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px;
}

.share-modal label {
  color: white;
}

.share-modal input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 1rem;
}

.share-modal input[type='checkbox'] {
  margin-left: 20px;
}

.share-modal .share-modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.share-modal-buttons button {
  margin: 10px;
}

.share-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 9999;
  background-color: #c7c7c7;
  padding: 2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  border-radius: 1px;
}

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.list-title {
  font-size: 1.1em;
  color: white;
  background-color: #5f0000;
  padding: 10px 0px 5px 0px;
  margin: 0px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
}

.svg-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto 0 auto 0;
  min-width: 15px;
  min-height: 15px;
}

.svg-button:hover {
  opacity: 0.8;
}

.svg-button:active path {
  fill: #ffffff;
  stroke: #ffffff;
}

/* Mobile View */

@media screen and (max-width: 768px) {
  .truthtally-container {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .list-item {
    font-size: 1.3em;
    letter-spacing: normal;
    padding: 10px;
  }

  .items-list {
    flex-direction: column;
    justify-content: left;
    justify-content: flex-end;
  }

  .player-item {
    line-height: 2.5em;
  }

  form {
    flex-direction: column;
  }

  .items-list form {
    width: 100%;
  }

  .items-list form input[type='text'] {
    margin: 10px 0;
    font-size: 1.5em;
  }

  input[type='submit'],
  button {
    font-size: 1em;
    margin: 10px 0;
  }

  .stage-container {
    flex-direction: column;
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .item-card {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.8em;
    padding: 0px;
    background-color: #8d3333;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: #aea1a1;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    cursor: pointer;
    text-align: center;
  }

  .item-card-divider {
    width: 100%;
    background-color: #9d0000;
    margin-bottom: 10px;
    font-size: 1.8em;
  }

  .controls {
    flex-direction: column;
  }

  .stage-header {
    font-size: 1.3em;
    font-weight: bold;
  }

  .remove-item {
    font-size: 1em;
    margin: 0;
  }

  .remove-item {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: visible;
    color: #ef5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }

  .results-container {
    padding: 10px;
    font-size: 1.5em;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    /* width: 100%; */
    flex-grow: 1;
  }

  .ranked-items {
    margin: 0 0 0 20vw;
  }

  .loading-container {
    height: auto;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .spinner {
    width: 75px;
    height: 75px;
    border-width: 3px;
  }

  .loading-text {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 10px;
  }
  .controls {
    padding: 10px;
    background-color: rgb(119, 0, 0);
    display: flex;
    justify-content: center;
  }
  .share-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .list-item .item-name form input[type='text'] {
    max-width: 80vw;
  }

  .list-title input[type='text']::-webkit-input-placeholder {
    color: #ffffff;
    letter-spacing: 2px;
  }

  .list-title form input[type='text'] {
    margin: 10px 0;
    font-size: 1.5em;
  }
}
